<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <p><small><i>Введите ваш адрес электронной почты</i></small></p>
  <div class="input-group">
    <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => t('views.users.edit.field.email.example') %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Отправить</button>
    </span>
  </div>
<% end %>
