<div class='row'>
  <div class='col-lg-2'></div>
  <div class='col-lg-8'>
    <div class='panel panel-default' id='tour_info'>
      <div class='panel-body'>
        <ul class="nav nav-tabs" id="info_tab">
          <li class="active"><a href="#info">Информация</a></li>
          <li><a href="#howto">Как это работает?</a></li>
          <li><a href="#support">Обсуждение проекта</a></li>
          <li><a href="#about">О проекте</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="info">
            <% if user_signed_in? %>
              <h4 class='page-header tab-title'>Доброго времени суток, уважаемый посетитель нашего портала!</h4>
              <%= render 'layouts/carousel' %>
            <% else %>
<h4 class='page-header tab-title'>Доброго времени суток, уважаемый посетитель нашего портала!</h4>
<%= image_tag("ded_moroz.jpg", :alt => "rss feed", :class => 'leftimg') %>
В канун нового года всегда какое то предвкушение волшебства! Каждый помнит это ощущение из дества: запах мандаринов, мороз, скрип снега под ногами, все окна домов мерцают разноцветными гирляндами...<br/>
Мы выросли, но разве это значит, что время чудес ушло?<br/>
Давай сделаем Новый год волшебным сами! <br/>
Почему бы самим не стать Дед Морозом и подарить людям праздник?<br/>
Подарить незнакомому человеку что нибудь приятное, свое внимание, теплые слова... Зачем? "Просто так", как говорил пес в мультике. Чтоб сделать мир немного добрее. В мультике получилось и у нас получится!<br/>
Регистрируйтесь!<br/>
<br/>
Сумма подарка - на ваше усмотрение.<br/>
<br/>
P.S. И помните, по правилам волшебства, добрые поступки всегда возвращаются:)
            <% end %>
          </div>
          <div class="tab-pane" id="howto">
<%= image_tag("ded_moroz.jpg", :alt => "rss feed", :class => 'leftimg') %>
<h4 class='page-header tab-title'>Везде и ко всему есть инструкции, ну и мы не могли обойти этот пункт стороной:</h4>
<p>1. Регистрируемся в нашей замечательной системе: Вы можете ввести все свои данные ручками, либо используя всем известную социальную сеть "вконтакте"(мимо соответствующей кнопочки не промахнетесь)</p>
<p>2. Далее, после регистрации, Вы увидите страницу на которой вы увидите красивенькую зелененькую кнопочку с изображением подарка, нажав на которую, Вы получите адрес получателя подарка. Вы можете совсем не знать его, в этом то и есть прелесть свершения добра, которую мы и предлагаем!</p>
<p>3. После этого, Вы увидите доступный адрес получателя и, ВНИМАНИЕ! код, который нужно указать на отправленном подарке. Какой подарок отправить решаете только Вы! Это может быть обычная открытка, либо Феррари последней модели, все зависит только от Вашей фантазии и желания :)</p>
<p>4. Спустя некоторое время, вам придет подарок от такого же ВебМороза, как и вы. Не забудте указать код, который вы найдете на подарке, в панеле "Подарки отправленные Вам".</p>
<h4 class='page-header'>Ответы/вопросы:</h4>
<h5>Я безлимитно могу отправлять теперь подарки, так?</h5>
<p> Нет, одновременно в отправленных может быть только 3 подарка. Когда они будут доставлены, вы сможете отправить еще</p>
<h5>Что делать с кодом при отправке подарка?</h5>
<p>Код (5 латинских букв) необходимо написать на подарке или открытке. Главное - написать разборчиво. Этот код, человек, которому вы дарите подарок, должен будет написать на сайте. После этого, вы сможете отправить и получить еще один подарок</p>
          </div>
          <div class="tab-pane" id="support">
            <h4 class='page-header tab-title' >Обсуждение проекта:</h4>
            <!-- Put this div tag to the place, where the Comments block will be -->
            <div id="vk_comments"></div>
          </div>
          <div class='margin-bottom'></div>
          <div class="tab-pane" id="about">
<h4 class='page-header tab-title'>WebMoroz это площадка, где незнакомые люди могут обмениваться подарками как по праздникам, так и по пятницам.</h4>
Цель проекта объединить людей одним общем делом. И сделать мир немного лучше. <br/>
<strong>Проект WebMoroz был запущен 25 ноября 2013.</strong>
<h4 class='page-header'>Контакты</h4>
<p>Наша почта: avikez@gmail.com</p>
<p>Наш телефон: +7(967)071-51-88</p>
<p>Лица представляющие проект:</p>
<p><a href='http://vk.com/dshmelyov'>Дмитрий</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-2'></div>
</div>
