<div class='row'>
  <div class='col-lg-2'></div>
  <div class='col-lg-8'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Помощь проекту</h3>
      </div>
      <div class="panel-body">
Если вы желаете внести свой вклад в развитие проекта, можете помочь проекту финансово, переведя любую сумму, на счета указанные ниже.
Ваши деньги помогут оплачивать сервер, а также добавят автору мотивации в разработке, поспособствуют развитию проекта.

<div class="well well-sm">
<h4>PayPal</h4>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id='paypal_widget'>
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCT2SzjqKdzuLSxVKcJllfisUiifptesRMqv5zCYOiV6qCeJy9mgmioF1vFfjVmYT8t+A0Oueo/oXq33vswgSsiDnbYcQZ5vgjdbk3OWyrqaa2bQI+LTFNVRQ+Lr2L5rbjWEunzu5f6qjHfxw+Ogl66MY3Q88hiCvJQFnl3NGet8zELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIpWqcw6Xw0W+AgYjcJVp7K4bJ3RCPIC9aRgMXsf0SXjOuBJx1amUVjH3gNuO+T5Yc8HEmHkz51YF0qStbsDGQoePq+qnaWSj+K/5Ok+2Xqyh07czQ4hzqgydmxAS8k1mDJ0JM05rUSekNXNc+zNpUSUgatEflgX6AQrutqhziHIx79ck/EAv5iycvGfPe8ihvPdXPoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMxMTIxMTg1NjExWjAjBgkqhkiG9w0BCQQxFgQU0ffQIyRmXN3hk3BRmtHpdfaQKVkwDQYJKoZIhvcNAQEBBQAEgYCFiGCXFLevjH/6jPmDtuju//ilo4ocsbYH0/acHGBFZ/D1JfS6S2YRu3imep47FNGWRzEvlslJNNfDg0ID/qzo1aleRfXkvoQhz5LxxOIPDMDnJ76/ZYcKhZNl3EvH204bwNxqhFxrt+BkEKKD49JBIaF1BFB+R/Jn82NJtxkRKw==-----END PKCS7-----
  ">
  <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

<div class="well well-sm">
  <h4>Перевод на банковский счет</h4>
Получатель/Beneficiary: <b>ШМЕЛЕВ Дмитрий Олегович</b><br/>
Счёт получателя/Beneficiary’s account: <b>40817810801001733870</b><br/>
Банк получателя/ Beneficiary’s bank: <b>Закрытое акционерное общество "Райффайзенбанк" г. Москва</b><br/>
кор.счет №: <b>30101810200000000700</b><br/>
БИК: <b>044525700</b><br/>
</div>

      </div>
    </div>
  </div>
  <div class='col-lg-2'></div>
</div>
