.leftimg
  float: left
  margin: 7px 7px 7px 0

.navbar-brand
  padding: 0 !important

.botton_container
  position: relative !important

.botton_div
  position: absolute !important
  right: 0
  bottom: 0
  text-align: right

h2
  margin-top: 0px

#vk_like
  margin-top: 13px !important
  margin-bottom: 13px !important

#ya_informer
  padding-top: 10px !important
  padding-bottom: 9px !important

#paypal_widget
  margin-top: 13px !important
  margin-bottom: 6px !important

html
  min-height: 100%

body
  min-height: 100%
  background-image: url(image_path("background.jpg"))
  background-color: #000000
  background-repeat: no-repeat
  background-position: center bottom
  background-size: 100%
  background-attachment: fixed

.txt-white
  color: #ffffff

.margin-bottom-sm
  margin-bottom: 5px

.margin-bottom
  margin-bottom: 20px

.panel
  border: none !important

.tab-title
  margin: 10px 0 10px

.tooltip
  font-size: 14px

.tooltip-inner
  background-color: rgba(50, 50, 50, 0.9)
  min-width: 220px

.tooltip.top .tooltip-arrow
  border-top-color: rgba(50, 50, 50, 0.9)

.popover
  max-width: 400px

#start-tour
  display: none

small
  font-size: 75%

.font-lg
  font-size: 250%

.fb-like
  top: 15px
  height: 20px
  overflow: hidden