<p>Привет <%= @resource.email %>!</p>

<p>Кто-то запросил изменение вашего пароля. Если это сделали Вы, то пройдите по ссылке:</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если это сделали не Вы - просто игнорируйте это сообщение</p>
