<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <img src="assets/slides/slide1.jpg" alt="">
      <div class="carousel-caption">
        <h4>Присоединяйся</h4>
        <p>Войдите с помощью кнопок соц.сетей, используйте форму или зарегистрируйтесь.</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/slides/slide2.jpg" alt="">
      <div class="carousel-caption">
        <h4>Введи свое имя и почтовый адрес</h4>
        <p>Укажите свое имя, а так же почтовый адрес, на который ваш Веб Мороз отправит подарок: (именно настоящий адрес - улица-дом, все дела)</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/slides/slide3.jpg" alt="">
      <div class="carousel-caption">
        <h4>Отправляй подарки</h4>
        <p>Нажав на кнопку с подарком вы получите ФИО, адрес человека, которому должны отправить подарок. Незабудте написать на подарке код ;)</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/slides/slide4.jpg" alt="">
      <div class="carousel-caption">
        <h4>Получай подарки</h4>
        <p>Получив подарок, не забудь отблагодарить своего Веб Мороза, указав код, который будет написан где-нибудь на подарке.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
